.product
{
    background-color: var(--blanco);
    
}
.product-content
{
    padding: 1rem;
    background-color: var(--blanco);
    display: flex;
}
.product-content .article-image, .product-content .article-text
{
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/* Producto izquierda */
.product.left
{
    background: linear-gradient(90deg, rgba(232,136,133,1) 0%, rgba(232,136,133,1) 49%, rgba(255,254,254,1) 51%, rgba(255,254,254,1) 100%);
    
}
.product.left .product-content
{
    background: radial-gradient(circle at 0%, var(--naranja), var(--naranja) calc(50% - 1px),var(--blanco) 50%);
}
/* Fin Producto izquierda */

/* Producto derecha */
.product.right
{
    background: linear-gradient(-90deg, rgba(232,136,133,1) 0%, rgba(232,136,133,1) 49%, rgba(255,254,254,1) 51%, rgba(255,254,254,1) 100%);
}
.product.right .product-content
{
    background: radial-gradient(circle at 100%, var(--naranja), var(--naranja) calc(50% - 1px),var(--blanco) 50%);
    flex-direction: row-reverse;
}
/* Fin producto derecha */
@media(max-width: 990px)
{
    .product, .product-content
    {
        background: var(--naranja) !important;
    }
    .product-content
    {
        flex-direction: column !important;
    }
    .product-content .article-image, .product-content .article-text
    {
        width: 100%;
    }
}